<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Rockkertest App</title>
	<link rel="stylesheet" href = "css/angular-material.min.css">
	<link rel="stylesheet" href = "css/zeplin.css">
	<link rel="stylesheet" href = "css/style.css">
</head>
<body>
	<div ng-controller='AppCtrl' layout="column" style="height:500px;" ng-cloak>
	    <section layout="row" flex>

		    <md-sidenav
		        class="md-sidenav-left navigation"
		        md-component-id="left"
		        md-is-locked-open="$mdMedia('gt-md')"
		        md-whiteframe="4">

		      <md-toolbar class="navigation">
		        <img src="img/r-3-l-logo-application-02.png" class="logo">
		      </md-toolbar>
		      <md-content layout-padding ng-controller="LeftCtrl" class="navigation">
			  <h3>Navigate</h3>
		      <md-divider md-inset></md-divider>
		        <md-list>
				  <md-list-item ng-repeat="item in todos">
				    <img class="icons-list" src="{{item.icon}}">
  					<span class="item-list">{{item.title}}</span>
				  </md-list-item>
				</md-list>
		        <md-button ng-click="close()" hide-gt-md>
		          <img class="icon-list" src="img/angle-double-left.png">
		          <span class="item-list">Close Menu</span>
		        </md-button>
		        <p hide show-gt-md>
		          This sidenav is locked open on your device. To go back to the default behavior,
		          narrow your display.
		        </p>
		      </md-content>

		    </md-sidenav>

		    <md-content flex layout-padding>

		      <div layout="column" layout-align="top center">
		      	 <hc-chart options="chartOptions">Placeholder for generic chart</hc-chart>
		        <div>
		          <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
		            Toggle left
		          </md-button>
		        </div>

		      </div>

		      <div flex></div>
		    </md-content>

		</section>
	</div>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-material.min.js"></script>
	<script src="js/angular-aria.min.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/app.js"></script>
	<script type="text/javascript" src="js/highcharts.js"></script>
</body>
</html>